
@{
    ViewBag.Title = "Families";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Families</h2>

<ul>
    @foreach (var families in Model)
    {
        <li>@families.familyname @families.city, @families.state - <a href="/Families/Edit/@families.id">Edit</a></li>
    }
</ul>