
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Home</h1>
<br />
<h2>Welcome!</h2>
<p>The Address Book is a place where you can find people from all over the United States.
   You can also see the families who have registered with us. Adding a family to our list allows poeple to
    connect themselves with their other family members. </p>

