
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

<form>
    <label>Username:</label><input type="text" id="username" name="username" />
    <label>Password:</label><input type="password" id="password" name="password" />
</form>

